body {
  font-family: 'Anon Bold';
  background-color: #1e1e1e;
  letter-spacing: 5px;
  color:  #f9941b;
  background: repeating-linear-gradient(
      to bottom,
      #0f0a1e,
      #0f0a1e 2px,
      lighten(#0f0a1e, 3%) 2px,
      lighten(#0f0a1e, 3%) 4px
  );
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

body::-webkit-scrollbar {
  width: 1px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #88888800; /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border-radius of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #55555500; /* Set the color of the scrollbar thumb on hover */
}

body::-webkit-scrollbar-track {
  background-color: rgba(241, 241, 241, 0); /* Set the color of the scrollbar track */
}

@font-face {
  font-family: 'Anon Reg';
  src: url('./metadata/Anonymous\ Pro.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Anon Bold';
  src: url('./metadata/Anonymous\ Pro\ B.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Anon Italic';
  src: url('./metadata/Anonymous\ Pro\ I.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Anon Bold Italic';
  src: url('./metadata/Anonymous\ Pro\ BI.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Press Start 2P';
  src: url('./metadata/PressStart2P-Regular.ttf') format('truetype');
  font-display: swap;
}

/* CRT */
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: f;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 100;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  z-index: 10;
  animation: textShadow 1.6s infinite;
}
.scanline {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99; /* Set a lower z-index so that scanlines are below the CRT effect */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 100% 10px, 10px 100%; /* Adjust the '8px' value to control the scanline spacing */
  opacity: 0.5; /* Adjust the opacity to make the scanlines more or less visible */
  pointer-events: none;
}

/* Bitcoin Dollar Signs */
.lights {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}
.light {
  position: absolute;
  border-radius: 50%;
  animation: float 16s infinite;
}
@keyframes float {
  0% {
      opacity: 0;
      transform: scale(0.3);
      bottom: -10%;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: scale(1.2);
      bottom: 120%;
  }
}

/* Arcade Blinking Text Style */
@keyframes arcadeBlink {
  to {
      visibility: hidden;
  }
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -50;
}
#bodyContainer {
position: relative;
width: 690px;
padding: 20px;
}

#bitcoinLogo {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#flashingHeader {
  color: #f9941b;
  animation: arcadeBlink 1s steps(2, start) infinite;
  letter-spacing: 20px;
  font-size: 69px;
  text-shadow: -2px 0 0 #E4D8B4, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
  text-align: center;
  margin-top: 20px;
}

#tokenInfo {
padding: 20px;
width: 100%;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}

#bitcoinCa,
#ticker {
font-size: 18px;
max-width: 100%;
word-wrap: break-word;
}

#caCopyIcon, 
#buyBtn {
font-size: 14px;
margin-right: 15px;
color: #0f0a1e;
letter-spacing: 5px;
padding: 5px;
}

#buyBtnContainer {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
flex-direction: row;
margin-top: 15px;
margin-right: -15px;
}

#lore {
margin-top: 20px;
position: relative;
width: 100%;
padding: 20px;
}
#loreText1 {
font-size: 12px;
width: 100%;
word-wrap: break-word;
margin-bottom: 30px;
}
#loreText {
font-size: 18px;
width: 100%;
word-wrap: break-word;
}

#socialContainer {
padding: 15px;
width: 100%;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
}
#buttons {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}
.socialButtons {
display: flex;
flex-direction: row;
justify-content: center;
}
.chartButtons {
display: flex;
flex-direction: row;
justify-content: center;
}
#twitterBtn,
#satoshiBtn,
#telegramBtn1,
#telegramBtn2,
#telegramBtn3,
#dextools,
#dexscreener,
#emailBtn,
#donateBtn {
font-size: 14px;
color: #0f0a1e;
letter-spacing: 5px;
padding: 5px;
margin: 10px;
}

#donationAmount {
width: 160px;
font-size: 12px;
letter-spacing: 5px;
padding: 5px;
border-width: 2px;
}
#trademark {
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 20px;
margin-bottom: 10px;
}
#trademarkText {
font-size: 12px;
color: #ffffff;
letter-spacing: 5px;
padding: 5px;
flex: 0 0 auto;
}
#trademarkTwitter {
font-size: 12px;
color: #0f0a1e;
letter-spacing: 5px;
padding: 2px;
flex: 0 0 auto;
}

/* Hide the spinners for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield; /* Firefox */
}

/* Styles for screens with a maximum width of 400px - mobile */

@media (max-width: 600px) {

#bodyContainer {
  position: relative;
  width: 100%;
  padding: 10%;
}

#bitcoinLogo {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

#flashingHeader {
  letter-spacing: 10px;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#bitcoinCa,
#ticker {
  font-size: 10px;
  max-width: 100%;
}

#caCopyIcon, 
#buyBtn {
  font-size: 12px;
  color: #0f0a1e;
  letter-spacing: 5px;
  padding: 2px;
}

#socialContainer {
  padding: 15px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.socialButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#twitterBtn,
#satoshiBtn,
#telegramBtn1,
#telegramBtn2,
#telegramBtn3,
#dextools,
#dexscreener,
#emailBtn,
#donateBtn {
  font-size: 12px;
  color: #0f0a1e;
  letter-spacing: 5px;
  padding: 2px;
  margin: 5px;
}

#loreText1 {
  font-size: 10px;
}
#loreText {
  font-size: 14px;
}

#trademarkText {
  font-size: 10px;
  color: #ffffff;
  letter-spacing: 5px;
  padding: 5px;
  flex: 0 0 auto;
}
#trademarkTwitter {
  font-size: 10px;
  color: #0f0a1e;
  letter-spacing: 5px;
  padding: 2px;
  flex: 0 0 auto;
}

}